<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier Utilisateur</title>
    <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>
    <h1>Modifier l'utilisateur</h1>

    <form action="/users/edit/<%= user.email %>" method="POST">
        <input type="text" name="username" value="<%= user.username %>" required>
        <select name="role">
            <option value="user" <%= user.role === 'user' ? 'selected' : '' %>>Utilisateur</option>
            <option value="admin" <%= user.role === 'admin' ? 'selected' : '' %>>Admin</option>
        </select>
        <button type="submit">Modifier</button>
    </form>

    <br>
    <a href="/users">Retour à la liste</a>
</body>
</html>
