<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <h1>Bienvenue sur notre plateforme de gestion de réservations de catways !</h1>
    <p>Notre application vous permet de gérer facilement vos réservations de catways.</p>
    <form action="/auth/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <label for="password">Mot de passe:</label>
        <input type="password" name="password" required>
        <button type="submit">Se connecter</button>
    </form>
    <a href="/docs">Voir la documentation de l'API</a>
</body>
</html>
