<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de l'Utilisateur</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <h1>Détails de l'Utilisateur</h1>
    <p><strong>Nom d'utilisateur :</strong> <%= user.username %></p>
    <p><strong>Email :</strong> <%= user.email %></p>

    <br>
    <a href="/users">Retour à la liste des utilisateurs</a>
</body>
</html>
